/* Styles */
:root {
    /* colors */
    --white: #fff;
    --off-white: #f5f5f5;
    --yellow: #E8C91A;
    --light-yellow: #FFDD1C;
    --grey: #45454C;
    --light-grey: #7D7D8A;
    --very-light-grey: #EBEFFF;
}

body {
    background-color: var(--off-white);
    color: var(--white);
    font-family: 'Cardo', serif;
    overflow-x: hidden;
}

i {
    color: var(--grey);
}

a {
    transition: all 0.2s ease-in-out;
}

a:hover, .live:hover {
    color: var(--yellow);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.paralax-mf {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.button:hover {
    box-shadow: 0 0 0 4px var(--very-light-grey);
}

.paralax-mf {
    position: relative;
}

/* Ul resect */
.socials ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

/* Icon Circle */
.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px var(--light-grey);
    display: block;
}

i.fab, i.far {
    vertical-align: middle;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--light-grey);
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--white);
    border-top: 6px solid var(--yellow);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Logos */
#logos {
    color: var(--grey);
    margin: 5rem 0;
}

#logos-desktop {
    display: none;
    margin: 0 10rem;
}

#logos-mobile {
    display: block;
    margin: 0 5rem;
}

#logos-mobile h1 {
    text-align: center;
}

#logos-mobile .logo-card {
    margin: 1rem;
}

.intro-title {
    /*text-shadow: 1px 1px 3px var(--yellow);*/
    font-weight: 600;
    font-size: 2.5rem;
}

.logo-card {
    height: 100%;
}

@media (min-width: 768px) {
  #logos-desktop {
    display: block;
    min-height: calc(100vh - 248px);
  }

  #logos-mobile {
    display: none;
  }

  #weekend-logo-tablet {
    display: flex;
  }

  #weekend-logo-desktop {
    display: none;
  }

  #logos {
    margin: 5rem 0;
  }
}

@media (min-width: 1064px) {
    #weekend-logo-tablet {
        display: none;
    }

    #weekend-logo-desktop {
        display: flex;
    }

  #logos {
    margin: 5rem 0;
  }
}

/* Contact */
.footer-paralax {
    padding: 0;
}

#contact {
    background-color: var(--light-grey);
    height: 88px;
}

.socials {
    padding: 1.5rem 0;
}

.socials ul li {
    display: inline-block;
}

.socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px var(--yellow);
    transition: all 500ms ease;
}

.socials .ico-circle:hover {
    background-color: var(--very-light-grey);
    color: var(--white);
    box-shadow: 0 0 0 3px var(--light-grey);
    transition: all 500ms ease;
}
