/* Styles */
:root {
  /* colors */
  --white: #fff;
  --off-white: #f5f5f5;
  --orange: #E07856;
  --light-orange: #E6AE9C;
  --black: #000000;
  --grey: #45454C;
  --brown: #613425;
  --very-light-grey: #EBEFFF;
  --red: #FF4A27;
  --maroon: #40130A;
}

body {
  background-color: var(--off-white);
  color: var(--white);
  font-family: 'Cardo', serif;
  overflow-x: hidden;
}

i {
  color: var(--black);
}

a {
  transition: all 0.2s ease-in-out;
}

a:hover, .live:hover {
  color: var(--orange);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.box-shadow,
.paralax-mf {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  box-shadow: 0 0 0 4px var(--very-light-grey);
}

.paralax-mf {
  position: relative;
  /*padding: 8rem 0;*/
}


/* Title Left */
.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: var(--brown);
  width: 100px;
  bottom: -12px;
}

/* Box */
.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: var(--white);
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/* Contact Us */
#contact {
  background-color: var(--brown);
}

.socials {
  padding: 1.5rem 0;
}

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px var(--orange);
  transition: all 500ms ease;
}

.socials .ico-circle:hover {
  background-color: var(--very-light-grey);
  color: var(--white);
  box-shadow: 0 0 0 3px var(--brown);
  transition: all 500ms ease;
}

/* Ul resect */
.socials ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

/* Icon Circle */
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px var(--brown);
  display: block;
}

i.fab, i.far {
  vertical-align: middle;
}

.footer-paralax {
  padding: 0;
}

.contact-mf {
  margin-top: 4rem;
}

/* Back to Top */
.back-to-top {
  position: fixed;
  display: none;
  background: var(--orange);
  color: var(--very-light-grey);
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: var(--white);
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--brown);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--white);
  border-top: 6px solid var(--orange);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* NavBar */
#home-logo,
#main-page-logo{
  max-height: 5rem;
}

button i.fa-bars {
  color: var(--white);
  font-size: 3rem;
}

.navbar {
  padding: 0;
}

@media (min-width: 1064px) {
  .navbar {
    padding: 0 3rem;
  }
}

.navbar-b {
  transition: all .5s ease-in-out;
  background-color: rgba(18,16,17, 0.6);
}

.navbar-b.navbar-reduce {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: var(--black);
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
  width: 35px;
}

.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: var(--white);
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: var(--white);
}

.navbar-b.navbar-reduce {
  transition: all .5s ease-in-out;
  background-color: var(--black);
}

.navbar-b.navbar-reduce .nav-link {
  color: var(--very-light-grey);
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: var(--light-orange);
}

.navbar-b.navbar-reduce .nav-link:hover,
.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: var(--light-orange);
}

.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: var(--black);
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-nav {
  padding-left: 15px;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: var(--brown);
  color: var(--white);
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: var(--brown);
}

.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: var(--white);
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

/* Intro */
.slide-bg {
  background-image: url("assets/images/home-bg-slide/bg-5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  backface-visibility: hidden;
  animation: slideBg 60s linear infinite 0s;
  animation-timing-function: ease-in-out;
}

@keyframes slideBg {
  0% {
    background-image: url("assets/images/home-bg-slide/bg-5.jpg");
  }
  20% {
    background-image: url("assets/images/home-bg-slide/bg-1.jpg");
  }
  40% {
    background-image: url("assets/images/home-bg-slide/bg-2.jpg");
  }
  60% {
    background-image: url("assets/images/home-bg-slide/bg-3.jpg");
  }
  80% {
    background-image: url("assets/images/home-bg-slide/bg-4.jpg");
  }
  100% {
    background-image: url("assets/images/home-bg-slide/bg-5.jpg");
  }
}

.intro {
  color: var(--white);
  background-color: rgba(18,16,17, 0.6)
}

.intro-bottom {
  color: var(--white);
  background-color: rgba(18,16,17, 0.6)
}

.intro-content {
  text-align: center;
  padding: 10rem 0 0;
}

.intro-title {
  text-shadow: 1px 1px 3px var(--orange);
  font-weight: 600;
  font-size: 2.5rem;
}

.intro-title.location {
  font-size: 1.5rem;
}

.intro-subtitle,
#rules {
  font-size: 1.5rem;
  padding: 2rem 1rem;
}

#rules {
  padding-top: 5rem;
}

#home .intro-subtitle {
  padding: 1rem;
  font-size: 2rem;
}

#event .intro-title,
#about .intro-title {
  font-size: 2.25rem;
}

#about .intro-subtitle {
  padding-top: 1rem;
}

#event-carousel,
#vendors-carousel {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3), 0 2px 5px 0 rgba(0, 0, 0, 0.6);
  padding-top: 10rem;
}

#vendors-carousel {
  padding-top: 0;
}

.carousel-indicators {
  display: none;
}

.carousel-caption {
  display: block !important;
  text-shadow: 1px 1px 3px var(--black);
  bottom: 0px;
}

/* Card Body */
.card-body {
  padding: 1.25rem 1.25rem 0.5rem;
}

@media (min-width: 768px) {
  .intro {
    height: 170rem;
  }

  .intro-bottom {
    height: 160rem;
    position: relative;
    color: var(--white);
    background-color: rgba(18,16,17, 0.6)
  }

  .intro-content {
    padding: 15rem 0 0;
  }

  .intro-title {
    font-size: 4.5rem;
  }

  .intro-title.location {
    font-size: 2.5rem;
  }

  .intro-subtitle,
  #rules {
    font-size: 2.5rem;
    padding: 4rem 3rem 0;
  }

  #rules {
    padding-top: 6rem;
  }

  #home .intro-subtitle {
    padding: 3rem 10rem 0;
    font-size: 3rem;
  }

  #event .intro-title,
  #about .intro-title {
    font-size: 3.5rem;
  }

  #about .intro-subtitle {
    padding-top: 1rem;
  }

  #event-carousel,
  #vendors-carousel {
    margin: 5rem 2rem 0;
  }

  /*#vendors-carousel {*/
  /*  margin: 0 2rem;*/
  /*}*/

  .carousel-indicators {
    display: flex;
  }
}

@media (min-width: 1064px) {
  .intro {
    height: 160rem;
  }

  .intro-title {
    font-size: 4.5rem;
  }

  .intro-subtitle,
  #home .intro-subtitle,
  #rules {
    padding: 3rem 5rem 0;
  }

  #rules {
    padding-top: 10rem;
  }

  #event .intro-subtitle,
  #about .intro-subtitle {
    padding-top: 1rem;
  }

  #event-carousel,
  #vendors-carousel {
    margin: 5rem 10rem 0;
  }

  /*#vendors-carousel {*/
  /*  margin: 0 10rem 0;*/
  /*}*/

  .carousel-caption {
    bottom: 20px;
  }
}

@media (min-width: 1260px) {
  .intro {
    height: 170rem;
  }
}

@media (min-width: 1440px) {
  .intro-subtitle, #rules {
    padding: 3rem 10rem 0;
  }

  #rules {
    padding-top: 10rem;
  }

  #event-carousel,
  #vendors-carousel {
    margin: 5rem 20rem 0;
  }
}

/* Packages */
#packages {
  color: var(--black);
  margin: 5rem 0;
}

#packages-desktop,
#packages-tablet {
  display: none;
}

#packages-mobile {
  display: block;
}

#packages-mobile h1 {
  text-align: center;
}

#packages-mobile .package-card {
  margin: 1rem;
}

#packages-mobile .porta-potty-disclaimer {
  margin: 1rem;
  text-align: center;
}

.package-card {
  height: 100%;
}

.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-mf .about-img {
  margin-bottom: 2rem;
}

.about-mf .about-img img {
  margin-left: 10px;
}

.registration-link {
  margin: 1.25rem;
  background-color: var(--orange);
  color: var(--black);
}

.registration-link.sold-out {
  background-color: var(--maroon);
  color: var(--off-white);
}

a.disabled {
  background-color: var(--very-light-grey);
  pointer-events: none;
  cursor: default;
}

.countdown {
  text-align: center;
  text-transform: uppercase;
  background-color: var(--red);
  border-radius: 10px;
  padding: 7px;
  width: 80%;
  margin: auto;
  color: var(--maroon);
}

@media (min-width: 768px) {
  #packages-tablet {
    display: block;
  }

  #packages-mobile {
    display: none;
  }
}

@media (min-width: 1064px) {
  #packages {
    margin: 5rem 0;
  }

  #packages-desktop {
    display: block;
  }

  #packages-tablet {
    display: none;
  }

  .porta-potty-disclaimer {
    font-size: 0.8rem;
  }
}

/* Past Experiences */
#past {
  color: var(--black);
  font-size: 2rem;
  padding: 8rem 1rem;
}

@media (min-width: 768px) {
  #past {
    padding: 15rem 1rem;
  }
}

@media (min-width: 1064px) {
  #past {
    font-size: 2.5rem;
    padding: 20rem 0;
  }
}

/* Media Queries*/
@media (max-width: 767px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (min-width: 768px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }

  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }

  .box-shadow-full {
    padding: 3rem;
  }

  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    padding-left: 10px;
  }

  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
    margin-left: 18px;
  }
}

/* rules.html */
.second-page {
  color: var(--black);
}

/* RULES */
.rule-section {
  text-align: left;
  padding: 4rem 2rem 0;
  font-size: 1.75rem;
}

#rules ol {
  text-align: left;
  font-size: 1.375rem;
}
